.table {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100px;
    height: auto;
}

#playerhole1 {    
   position: absolute;
   top: 420px;
   left: 430px;  
   padding: 5px;
}

#playerhole2 {    
    position: absolute;
    top: 420px;
    left: 570px;  
    padding: 5px;
 }

 #aihole1 {    
    position: absolute;
    top: 30px;
    left: 430px;  
    padding: 5px;
 }
 
 #aihole2 {    
     position: absolute;
     top: 30px;
     left: 570px;  
     padding: 5px;
  }

  #flop1 {    
    position: absolute;
    top: 220px;
    left: 280px; 
    padding: 5px;
 }
 
 #flop2 {    
     position: absolute;
     top: 220px;
     left: 420px;  
     padding: 5px;
  }
  
  #flop3 {    
    position: absolute;
    top: 220px;
    left: 560px; 
    padding: 5px;
 }
 
 #turn {    
     position: absolute;
     top: 220px;
     left: 700px;  
     padding: 5px;
  }
  
  #river {    
    position: absolute;
    top: 220px;
    left: 840px; 
    padding: 5px;
 }

 #aiavatar {
     position: absolute;
     top: 15px;
     left: 700px;
     height: 100px;
     width: auto;
 }

#aicoins{
    position: absolute;
    top: 110px;
    left: 725px;
    height: 60px;
    width: auto;
}

 #playeravatar {
     position: absolute;
     top: 420px;
     left: 710px;
     height: 80px;
     width: auto;
 }

 #playercoins{
     position: absolute;
     top: 500px;
     left: 725px;
     height: 60px;
     width: auto;
 }

 #onstagecoins{
     position: absolute;
     top : 240px;
     left: 100px;
     height: 60px;
     width: auto;
 }