.table {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100px;
    height: auto;
    -webkit-transition: ease-in 0.7s ease-out 0.1s;
	-moz-transition: ease-in 0.7s ease-out 0.1s;
	transition: ease-in 0.7s ease-out 0.1s;
}

#playerhole1 {    
   position: absolute;
   top: 420px;
   left: 35%;  
   padding: 5px;
   -webkit-transition: ease-in 0.7s ease-out 0.1s;
   -moz-transition: ease-in 0.7s ease-out 0.1s;
   transition: ease-in 0.7s ease-out 0.1s;
}

#playerhole2 {    
    position: absolute;
    top: 420px;
    left: 45%;  
    padding: 5px;
    -webkit-transition: ease-in 0.7s ease-out 0.1s;
	-moz-transition: ease-in 0.7s ease-out 0.1s;
	transition: ease-in 0.7s ease-out 0.1s;
 }

 #aihole1 {    
    position: absolute;
    top: 30px;
    left: 35%;  
    padding: 5px;
    -webkit-transition: ease-in 0.7s ease-out 0.1s;
	-moz-transition: ease-in 0.7s ease-out 0.1s;
	transition: ease-in 0.7s ease-out 0.1s;
 }
 
 #aihole2 {    
     position: absolute;
     top: 30px;
     left: 45%;  
     padding: 5px;
     -webkit-transition: ease-in 0.7s ease-out 0.1s;
     -moz-transition: ease-in 0.7s ease-out 0.1s;
     transition: ease-in 0.7s ease-out 0.1s;
  }

  #flop1 {    
    position: absolute;
    top: 220px;
    left: 26%; 
    padding: 5px;
 }
 
 #flop2 {    
     position: absolute;
     top: 220px;
     left: 36%;  
     padding: 5px;
  }
  
  #flop3 {    
    position: absolute;
    top: 220px;
    left: 46%; 
    padding: 5px;
 }
 
 #turn {    
     position: absolute;
     top: 220px;
     left: 56%;  
     padding: 5px;
  }
  
  #river {    
    position: absolute;
    top: 220px;
    left: 66%; 
    padding: 5px;
 }


